@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:400,600,700&display=swap");
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #00263f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: "Open Sans", sans-serif;
}

body button:focus {
  outline: 0;
}

body ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

body a {
  text-decoration: none;
  color: white;
}

body h1,
body .like-h1 {
  margin: 10px 0;
  font-size: 37px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

@media (min-width: 768px) {
  body h1,
  body .like-h1 {
    font-size: 70px;
  }
}

body h2,
body .like-h2 {
  margin: 10px 0;
  font-size: 25px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

@media (min-width: 768px) {
  body h2,
  body .like-h2 {
    font-size: 37px;
  }
}

body h3 {
  font-family: "Oswald", sans-serif;
}

body h4 {
  font-family: "Oswald", sans-serif;
}

body .stroke-text-title {
  display: block;
  color: #00263f;
  font-size: 37px;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2fffb4;
  font-family: "Oswald", sans-serif;
  z-index: 2;
  font-weight: 700;
  margin: 0;
  margin-bottom: -10px;
}

@media (min-width: 768px) {
  body .stroke-text-title {
    font-size: 70px;
  }
}

.link-arrow {
  position: relative;
  display: block;
}

.link-arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #2fffb4;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (min-width: 768px) {
  .link-arrow:after {
    left: 35%;
  }
}

.link-arrow.-large:hover:after {
  width: 245px;
}

@media (min-width: 768px) {
  .link-arrow.-large:after {
    left: 46%;
  }
  .link-arrow.-large:hover:after {
    width: 248px;
  }
}

.link-arrow .icon {
  display: inline-block;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  padding-left: 15px;
  -webkit-transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link-arrow:hover:after {
  width: 185px;
}

.link-arrow:hover .icon {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.site-content {
  max-width: 1200px;
}

.uppercase {
  text-transform: uppercase;
}

.title-fonts {
  font-family: "Oswald", sans-serif;
}

.pop-green-color {
  color: #2fffb4;
}

.dark-blue-color {
  color: #00263f;
}

.bold {
  font-weight: 700;
}

.fz-18 {
  font-size: 18px;
}

.no-styled-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.no-styled-list {
  list-style: none;
}

.z-i1 {
  z-index: 1;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

@font-face {
  font-family: "festival";
  src: url("../festival-v1.0/fonts/festival.eot?jxbc94");
  src: url("../festival-v1.0/fonts/festival.eot?jxbc94#iefix") format("embedded-opentype"), url("../festival-v1.0/fonts/festival.ttf?jxbc94") format("truetype"), url("../festival-v1.0/fonts/festival.woff?jxbc94") format("woff"), url("../festival-v1.0/fonts/festival.svg?jxbc94#festival") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "festival" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "";
}

.icon-ticket:before {
  content: "";
}

.icon-star-empty:before {
  content: "";
}

.icon-star-full:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-arrow-right2:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-share2:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.wrapper-big-text {
  position: relative;
  overflow: hidden;
}

.wrapper-big-text .big-title-home {
  pointer-events: none;
  font-size: 200px;
  z-index: -1;
  -webkit-text-stroke-color: rgba(158, 158, 158, 0.1);
}

.wrapper-big-text .big-title-home .-left {
  white-space: nowrap;
  position: absolute;
  top: -40px;
  left: -20px;
}

.wrapper-big-text .big-title-home .-right {
  white-space: nowrap;
  position: absolute;
  top: -40px;
  right: -20px;
}

.header-article {
  margin-bottom: 50px;
}

.header-article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  display: block;
}

.article-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

@media (min-width: 1024px) {
  .article-content {
    padding: 0;
  }
}

.article-content .title-article {
  margin-bottom: 20px;
  font-size: 30px;
  color: #2fffb4;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .article-content .title-article {
    font-size: 50px;
  }
}

.article-content .p-article {
  margin-bottom: 50px;
  line-height: 32px;
}

@media (min-width: 1024px) {
  .article-content .p-article {
    padding-right: 50px;
  }
}

.article-content .p-article a {
  position: relative;
}

.article-content .p-article a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #2fffb4;
  -webkit-transition: .5s;
  transition: .5s;
}

.article-content .p-article a:hover:after {
  width: 100%;
}

.article-content .infos-article {
  margin-bottom: 40px;
}

.article-content .infos-article .span-infos {
  display: block;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  border: none;
  background: transparent;
  color: #2fffb4;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: #2fffb4 solid 1px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn span {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.btn span:before {
  content: "";
  -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  top: 13px;
  left: 19px;
  color: #2fffb4;
}

.btn span:after {
  content: "";
  -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  top: 43px;
  left: 19px;
  color: #2fffb4;
  -webkit-transform: scaleX(0.3);
          transform: scaleX(0.3);
}

.btn:hover {
  border: white 1px solid;
  color: white;
}

.btn:hover span:before {
  top: -43px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  color: white;
}

.btn:hover span:after {
  top: 13px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  color: white;
}

header {
  background: #00263f;
}

@media (min-width: 768px) {
  header.main-page {
    background: transparent;
    margin-bottom: 0;
  }
}

header.main-page .wrapper-header {
  margin-bottom: 0;
}

header .wrapper-header {
  position: relative;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  z-index: 12;
}

@media (min-width: 768px) {
  header .wrapper-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
}

header .wrapper-header .logo-wrapper img {
  display: block;
  height: 55px;
}

header .wrapper-header .mob-burger {
  display: block;
  position: absolute;
  top: 12px;
  right: 0px;
  width: 50px;
  height: 50px;
}

header .wrapper-header .mob-burger span {
  display: block;
  position: absolute;
  margin-top: 8px;
  height: 2px;
  width: 30px;
  background: #2fffb4;
  -webkit-transition: 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

header .wrapper-header .mob-burger span:nth-child(1) {
  top: 10px;
}

header .wrapper-header .mob-burger span:nth-child(3), header .wrapper-header .mob-burger span:nth-child(2) {
  top: 20px;
}

header .wrapper-header .mob-burger span:nth-child(4) {
  top: 30px;
}

header .wrapper-header .mob-burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .wrapper-header .mob-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .wrapper-header .mob-burger.open span:nth-child(1),
header .wrapper-header .mob-burger.open span:nth-child(4) {
  width: 0;
}

@media (min-width: 768px) {
  header .wrapper-header .mob-burger {
    display: none;
  }
}

header .wrapper-header nav .nav-list {
  position: absolute;
  display: block;
  top: 60px;
  bottom: 0;
  width: 100%;
  left: -1000px;
  height: 100vh;
  background: #00263f;
  text-align: center;
  z-index: 12;
  opacity: 1;
  -webkit-transition: left 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: left 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (min-width: 768px) {
  header .wrapper-header nav .nav-list {
    margin: 0;
    height: auto;
  }
}

header .wrapper-header nav .nav-list.open {
  left: 0;
}

@media (min-width: 768px) {
  header .wrapper-header nav .nav-list {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
  }
}

header .wrapper-header nav .nav-list li {
  top: 50%;
  margin-right: 0;
  margin-top: 40px;
  display: block;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  header .wrapper-header nav .nav-list li {
    display: inline-block;
    margin-right: 25px;
    margin-top: 0;
  }
  header .wrapper-header nav .nav-list li:last-child {
    margin-right: 0px;
  }
}

header .wrapper-header nav .nav-list li .text-nav {
  position: relative;
}

header .wrapper-header nav .nav-list li .text-nav:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 1px;
  width: 0;
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

header .wrapper-header nav .nav-list li .text-nav:hover {
  color: #2fffb4;
}

header .wrapper-header nav .nav-list li .text-nav:hover:after {
  width: 100%;
}

header .wrapper-header nav .nav-list li a {
  font-weight: 700;
}

footer .bk-newsletter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 260px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #233d4f), to(#365e78));
  background: linear-gradient(90deg, #020024 0%, #233d4f 0%, #365e78 100%);
}

footer .bk-newsletter .svg-wrapper {
  /* positionne par rapport au premier parent relatife au coord (0, 0) */
  position: absolute;
  top: 0;
  left: 0;
  /* fait la taille de son parent sur l'axe X et Y  */
  width: 100%;
  height: 100%;
  /* empêche tous ses enfants de dépasser de lui-même  */
  overflow: hidden;
}

footer .bk-newsletter .cloud-nl {
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

@media (min-width: 768px) {
  footer .bk-newsletter .cloud-nl {
    right: 15%;
  }
}

footer .bk-newsletter .three-nl {
  display: none;
}

@media (min-width: 768px) {
  footer .bk-newsletter .three-nl {
    display: block;
    position: absolute;
    bottom: -69px;
    right: 5%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    z-index: 1;
  }
}

footer .bk-newsletter .right-corner-nl {
  display: none;
}

@media (min-width: 768px) {
  footer .bk-newsletter .right-corner-nl {
    display: block;
    position: absolute;
    bottom: -37px;
    right: -73px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    z-index: 0;
  }
}

footer .bk-newsletter .left-corner-nl {
  position: absolute;
  bottom: -37px;
  left: -73px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: 0;
}

footer .bk-newsletter .top-left-nl {
  display: none;
}

@media (min-width: 768px) {
  footer .bk-newsletter .top-left-nl {
    display: block;
    position: absolute;
    top: -50px;
    left: -43px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    z-index: 0;
  }
}

footer .bk-newsletter .wrapper-icons {
  position: relative;
  margin-left: -10px;
}

footer .bk-newsletter .wrapper-icons li {
  display: inline;
  margin-left: 20px;
}

@media (min-width: 768px) {
  footer .bk-newsletter .wrapper-icons li {
    margin-left: 10px;
  }
}

footer .bk-newsletter .wrapper-icons a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .bk-newsletter .wrapper-icons a:hover {
  color: #09f7d1;
}

footer .bk-newsletter .wrapper-icons a span {
  font-size: 24px;
}

@media (min-width: 768px) {
  footer .bk-newsletter .wrapper-icons a span {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  footer .bk-newsletter .wrapper-icons:before {
    content: "";
    display: block;
    position: absolute;
    left: -110px;
    top: 10px;
    width: 100px;
    height: 1px;
    background: white;
  }
  footer .bk-newsletter .wrapper-icons:after {
    content: "";
    display: block;
    position: absolute;
    left: 145px;
    top: 10px;
    width: 100px;
    height: 1px;
    background: white;
  }
}

footer .bk-newsletter .wrapper-input {
  position: relative;
  margin-left: -30px;
}

footer .bk-newsletter .wrapper-input input {
  height: 40px;
  width: 230px;
  padding: 0 10px;
  border: 0;
  font-size: 18px;
}

footer .bk-newsletter .wrapper-input input[type="submit"] {
  position: absolute;
  right: -30px;
  top: 0;
  height: 40px;
  width: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  background: #09f7d1;
  color: #00263f;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .bk-newsletter .wrapper-input input[type="submit"]:hover {
  background: #00263f;
  color: #09f7d1;
}

footer .nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px;
  background: #00263f;
}

@media (min-width: 768px) {
  footer .nav-footer {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
  }
}

footer .nav-footer .logo-wrapper {
  margin-bottom: 40px;
  position: relative;
}

@media (min-width: 768px) {
  footer .nav-footer .logo-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
}

footer .nav-footer .logo-wrapper img {
  height: 60px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  footer .nav-footer .logo-wrapper img {
    margin-bottom: 0;
  }
}

footer .nav-footer .logo-wrapper:after {
  content: "";
  display: block;
  height: 1px;
  background: white;
}

@media (min-width: 768px) {
  footer .nav-footer .logo-wrapper:after {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    right: -25px;
  }
}

footer .nav-footer .btn .icon-ticket {
  margin-right: 10px;
}

@media (min-width: 768px) {
  footer .nav-footer .btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  footer .nav-footer nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 768px) {
  footer .nav-footer .list-nav {
    margin-left: 50px;
    margin-top: 0;
  }
}

footer .nav-footer .list-nav li {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  footer .nav-footer .list-nav li {
    text-align: left;
  }
  footer .nav-footer .list-nav li span {
    position: relative;
  }
  footer .nav-footer .list-nav li span:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 1px;
    width: 0;
    background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
    background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
    -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  footer .nav-footer .list-nav li span:hover {
    color: #2fffb4;
  }
  footer .nav-footer .list-nav li span:hover:after {
    width: 100%;
  }
  footer .nav-footer .list-nav li span:after {
    bottom: -3px;
  }
}

footer .bottom-footer {
  display: block;
  height: 20px;
  padding: 5px;
  background: black;
  font-size: 12px;
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

footer .bottom-footer a:hover {
  text-decoration: underline;
}

.bk-header-video {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  .bk-header-video {
    position: relative;
    height: 100vh;
    margin-top: -100px;
  }
}

.bk-header-video #myVideo {
  opacity: 0;
}

@media (min-width: 768px) {
  .bk-header-video #myVideo {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
  }
}

.bk-header-video .img-header {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("../img/img-film/Swiss-Army-Man-Szene-4.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .bk-header-video .img-header {
    opacity: 0;
  }
}

.bk-header-video .filter-header {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.bk-header-video .wrapper-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  text-align: center;
  color: #2fffb4;
}

.bk-heading-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.bk-heading-title.-pop {
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
}

.bk-heading-title.-pop .stroke-text-title {
  -webkit-text-stroke-color: #00263f;
}

.bk-heading-title.-pop .wrapper-descr {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .bk-heading-title.-pop .wrapper-descr {
    border-left: 1px solid #00263f;
  }
}

.bk-heading-title.-pop .wrapper-descr .descr {
  margin-bottom: 0;
}

.bk-heading-title.-pop .wrapper-descr .link-arrow:after {
  background: #00263f;
}

@media (min-width: 768px) {
  .bk-heading-title .stroke-text-title {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .bk-heading-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.bk-heading-title .wrapper-descr {
  font-size: 14px;
  max-width: 300px;
}

@media (min-width: 768px) {
  .bk-heading-title .wrapper-descr {
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 30px;
    border-left: 1px solid white;
  }
}

.bk-heading-title .wrapper-descr .descr {
  margin-top: 0;
  line-height: 22px;
}

.bk-films-wrapper {
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (min-width: 680px) {
  .bk-films-wrapper {
    max-width: 650px;
  }
}

@media (min-width: 900px) {
  .bk-films-wrapper {
    max-width: 1000px;
  }
}

.bk-films-wrapper .bk-film-sample {
  opacity: 0.8;
  display: block;
  position: relative;
  height: 280px;
  margin-top: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 8px;
}

.bk-films-wrapper .bk-film-sample .img-cover {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

.bk-films-wrapper .bk-film-sample:hover {
  opacity: 1;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.bk-films-wrapper .bk-film-sample .info-film-wrapper {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 15px;
}

.bk-films-wrapper .bk-film-sample .info-film-wrapper .title-film {
  display: inline-block;
  padding: 3px 12px;
  margin-bottom: 10px;
  color: #00263f;
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.bk-films-wrapper .bk-film-sample .info-film-wrapper .hour-film {
  margin-top: 0;
  font-size: 13px;
  text-shadow: 1px 1px 10px black;
}

.bk-films-wrapper .bk-film-sample .info-film-wrapper .hour-film span {
  margin-right: 5px;
}

.bk-films-wrapper .slick-list {
  margin-left: -30px !important;
  overflow: visible;
}

.bk-films-wrapper .slick-list .slick-track {
  padding-top: 20px;
}

.bk-films-wrapper .slick-list .slick-slide {
  margin-left: 30px;
  opacity: 0.3;
}

.bk-films-wrapper .slick-list .slick-slide.slick-center {
  height: 300px;
  margin-top: 0;
  opacity: 1;
}

.bk-films-wrapper .slick-list .slick-slide.slick-center .info-film-wrapper {
  display: block;
}

.bk-films-wrapper .slick-arrow.slick-next {
  width: 50px;
  height: 100px;
  position: absolute;
  right: 30%;
  top: 90%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
}

.bk-films-wrapper .slick-arrow.slick-next:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
          transform: rotate(-45deg) translate(-50%, -50%);
  height: 2px;
  width: 15px;
  background: #00263f;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.bk-films-wrapper .slick-arrow.slick-next:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  height: 2px;
  width: 15px;
  background: #00263f;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (min-width: 768px) {
  .bk-films-wrapper .slick-arrow.slick-next {
    right: 40%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #00263f;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .bk-films-wrapper .slick-arrow.slick-next:before {
    background: #2fffb4;
  }
  .bk-films-wrapper .slick-arrow.slick-next:after {
    background: #2fffb4;
  }
  .bk-films-wrapper .slick-arrow.slick-next:hover {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #2fffb4;
  }
  .bk-films-wrapper .slick-arrow.slick-next:hover:before {
    background: #00263f;
  }
  .bk-films-wrapper .slick-arrow.slick-next:hover:after {
    background: #00263f;
  }
}

.bk-films-wrapper .slick-arrow.slick-prev {
  width: 50px;
  height: 100px;
  position: absolute;
  left: 30%;
  top: 90%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bk-films-wrapper .slick-arrow.slick-prev:before {
  content: "";
  display: block;
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(75%, 129%);
          transform: rotate(-45deg) translate(75%, 129%);
  height: 2px;
  width: 15px;
  background: #00263f;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.bk-films-wrapper .slick-arrow.slick-prev:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: rotate(45deg) translate(60%, -150%);
          transform: rotate(45deg) translate(60%, -150%);
  height: 2px;
  width: 15px;
  background: #00263f;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (min-width: 768px) {
  .bk-films-wrapper .slick-arrow.slick-prev {
    left: 40%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #00263f;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .bk-films-wrapper .slick-arrow.slick-prev:before {
    background: #2fffb4;
  }
  .bk-films-wrapper .slick-arrow.slick-prev:after {
    background: #2fffb4;
  }
  .bk-films-wrapper .slick-arrow.slick-prev:hover {
    background: #2fffb4;
  }
  .bk-films-wrapper .slick-arrow.slick-prev:hover:before {
    background: #00263f;
  }
  .bk-films-wrapper .slick-arrow.slick-prev:hover:after {
    background: #00263f;
  }
}

.news-wrapper {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .news-wrapper {
    max-width: 1500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px auto;
  }
}

@media (min-width: 768px) {
  .news-wrapper .two-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}

.news-wrapper .bk-card-news {
  max-width: 500px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (min-width: 768px) {
  .news-wrapper .bk-card-news.-small {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  .news-wrapper .bk-card-news.-large {
    max-width: 550px;
  }
}

@media (min-width: 768px) {
  .news-wrapper .bk-card-news {
    height: 300px;
  }
  .news-wrapper .bk-card-news:first-child {
    margin-right: 20px;
  }
}

.news-wrapper .bk-card-news img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.news-wrapper .bk-card-news:hover {
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.news-wrapper .bk-card-news:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.news-wrapper .bk-card-news .title-news {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
}

.news-wrapper .bk-card-news .title-news .title {
  font-size: 16px;
}

@media (min-width: 768px) {
  .news-wrapper .bk-card-news .title-news .title {
    font-size: 18px;
  }
}

.news-wrapper .bk-card-news .title-news .date-news {
  float: right;
  color: #00263f;
  font-size: 12px;
  text-transform: uppercase;
}

.bk-about-sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}

@media (min-width: 768px) {
  .bk-about-sample {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.bk-about-sample figure {
  width: 100%;
}

@media (min-width: 768px) {
  .bk-about-sample figure {
    width: 50%;
  }
}

.bk-about-sample .image-about-sample {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .bk-about-sample .image-about-sample {
    height: 300px;
  }
}

.bk-about-sample .text-about-sample {
  text-align: center;
  margin-top: -40px;
}

@media (min-width: 768px) {
  .bk-about-sample .text-about-sample {
    text-align: left;
    margin-top: 0;
  }
}

.bk-about-sample .text-about-sample .title {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
  padding: 5px 30px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .bk-about-sample .text-about-sample .title {
    margin-left: -20px;
  }
}

.bk-about-sample .text-about-sample .descr {
  padding: 0 40px;
  line-height: 24px;
  margin-top: 0px;
  text-align: left;
}

@media (min-width: 768px) {
  .bk-about-sample .text-about-sample .descr {
    max-width: 450px;
  }
}

.bk-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
  margin: 50px 10px;
}

@media (min-width: 768px) {
  .bk-subscription {
    margin: 50px auto;
  }
}

.bk-subscription .title-subscription {
  text-align: center;
  font-size: 30px;
}

@media (min-width: 768px) {
  .bk-subscription .title-subscription {
    text-align: left;
  }
}

.bk-subscription .select-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.bk-subscription .select-wrapper .collapse-btn {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: white;
  pointer-events: none;
  z-index: 3;
}

.bk-subscription .select-wrapper .collapse-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  height: 3px;
  width: 20px;
  background: #00263f;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bk-subscription .select-wrapper .collapse-btn:after {
  content: "";
  position: absolute;
  left: 40%;
  top: 50%;
  display: block;
  height: 3px;
  width: 20px;
  background: #00263f;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bk-subscription .custom-input-select {
  position: relative;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: #00263f;
  background: white;
  border: 0;
  border-radius: 0;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.bk-subscription .validation-check {
  position: relative;
  margin: 10px 0;
  font-size: 14px;
}

.bk-subscription .validation-check a:hover {
  text-decoration: underline;
}

.bk-subscription .validation-check label {
  margin-left: 35px;
}

.bk-subscription .validation-check:hover input ~ .checkmark {
  background-color: #ccc;
}

.bk-subscription .validation-check input:checked ~ .checkmark {
  background-color: white;
}

.bk-subscription .validation-check input:checked ~ .checkmark:before {
  content: "";
  display: block;
  position: absolute;
  left: 25%;
  bottom: 8px;
  height: 4px;
  width: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #00263f;
}

.bk-subscription .validation-check input:checked ~ .checkmark:after {
  content: "";
  display: block;
  position: absolute;
  left: 12%;
  bottom: 7px;
  height: 4px;
  width: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #00263f;
}

.bk-subscription .validation-check input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 20px;
  width: 20px;
}

.bk-subscription .validation-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bk-subscription .validation-check .checkmark:before {
  content: "";
  bottom: -2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 0;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.bk-subscription .validation-check .checkmark:after {
  content: "";
  bottom: -2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 0;
}

.bk-subscription .form-btn {
  width: 200px;
  margin: 20px auto;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  margin-bottom: 50px;
}

.bk-infos-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .bk-infos-location {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.bk-infos-location .info-location {
  width: 250px;
  text-align: left;
}

.bk-infos-location .info-location .title-info {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #2fffb4;
  font-family: "Open Sans", sans-serif;
}

.bk-infos-location .info-location .title-info:after {
  content: "";
  display: block;
  margin-top: 10px;
  height: 2px;
  width: 100%;
  background: #2fffb4;
}

.bk-infos-location .info-location .descr-info {
  margin: 10px 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}

.bk-infos-location .info-location .descr-info a, .bk-infos-location .info-location .descr-info span {
  display: block;
}

.bk-infos-location .info-location .link-info {
  font-size: 14px;
  text-transform: uppercase;
  color: #2fffb4;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.bk-infos-location .info-location .link-info.link-arrow:after {
  left: 35%;
}

.bk-infos-location .info-location .link-info.link-arrow:hover:after {
  width: 175px;
}

.bk-infos-location .info-location:last-child {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .bk-infos-location .info-location:last-child {
    margin-top: 0;
    margin-left: 50px;
  }
}

.bk-others-infos .heading-others-infos {
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#243f50), to(#375e77));
  background: linear-gradient(90deg, #243f50 0%, #375e77 100%);
}

.bk-others-infos .heading-others-infos .title-info .stroke-text-title {
  font-size: 35px;
  -webkit-text-stroke-color: white;
  letter-spacing: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .bk-others-infos .heading-others-infos .title-info .stroke-text-title {
    font-size: 45px;
  }
}

.bk-others-infos .heading-others-infos .title-info span {
  display: block;
}

.bk-others-infos .listing-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}

@media (min-width: 768px) {
  .bk-others-infos .listing-infos {
    margin: 50px auto;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1200px;
  }
}

.bk-others-infos .listing-infos li {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .bk-others-infos .listing-infos li {
    width: 350px;
  }
  .bk-others-infos .listing-infos li:nth-child(odd) {
    margin-right: 150px;
  }
}

.bk-others-infos .listing-infos li .sub-title {
  text-transform: uppercase;
  color: #2fffb4;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.bk-others-infos .listing-infos li .title {
  font-size: 22px;
  margin: 5px 0;
  text-transform: uppercase;
}

.bk-others-infos .listing-infos li p {
  line-height: 30px;
}

.bk-others-infos .listing-infos li .link-info {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #2fffb4;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.bk-others-infos .listing-infos li .link-info:after {
  left: 19%;
}

@media (min-width: 768px) {
  .bk-others-infos .listing-infos li .link-info:after {
    left: 28%;
  }
}

.bk-others-infos .listing-infos li .link-info:hover:after {
  width: 195px;
}

.bk-film-header {
  position: relative;
}

.bk-film-header .img-top-header {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70vh;
  display: block;
}

@media (min-width: 1024px) {
  .bk-film-header .img-top-header {
    height: 600px;
  }
}

.infos-film-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  width: 100%;
  background: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .infos-film-header {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.infos-film-header .film-header-bk {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
}

@media (min-width: 768px) {
  .infos-film-header .film-header-bk {
    width: 50%;
  }
}

.infos-film-header .film-header-bk.hours-infos {
  background: black;
}

.infos-film-header .film-header-bk .film-header-title {
  text-align: center;
  padding: 10px;
  margin: 0;
  color: #00263f;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 768px) {
  .infos-film-header .film-header-bk .film-header-title {
    text-align: left;
  }
}

.infos-film-header .film-header-bk .film-header-title.hours {
  color: white;
}

.infos-film-header .film-header-bk .film-header-title span {
  display: block;
}

.infos-film-header .film-header-bk .film-header-title span.sub-title {
  margin-top: 5px;
  font-size: 14px;
  text-transform: initial;
}

.infos-film-descr {
  display: block;
}

@media (min-width: 768px) {
  .infos-film-descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.infos-film-descr .descr {
  width: 100%;
  padding: 30px;
}

@media (min-width: 768px) {
  .infos-film-descr .descr {
    padding: 50px;
    width: 50%;
  }
}

.infos-film-descr .descr .synopsis-film {
  margin: 0 auto;
  max-width: 500px;
}

.infos-film-descr .descr .synopsis-film .synopsis-title {
  font-weight: 700;
  font-size: 25px;
}

.infos-film-descr .descr .synopsis-film p {
  line-height: 30px;
  margin-bottom: 30px;
}

.infos-film-descr .descr .synopsis-film .film-tags {
  display: inline;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.infos-film-descr .descr .synopsis-film .film-tags span {
  border: 1px solid white;
  padding: 3px 8px;
  margin-left: 3px;
}

@media (min-width: 768px) {
  .infos-film-descr .descr .synopsis-film .film-tags span {
    margin-left: 10px;
  }
}

.infos-film-descr .descr.films-others-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infos-film-descr .descr.films-others-infos .film-note {
  font-size: 75px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.infos-film-descr .descr.films-others-infos .film-note span {
  font-size: 30px;
}

.infos-film-descr .descr.films-others-infos .film-note span:last-child {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.infos-film-descr .descr.films-others-infos .btn {
  margin-top: 40px;
}

.wrapper-video-film iframe {
  width: 100%;
  height: 80vh;
  border: none;
  margin-top: 30px;
}

.title-similar-movie {
  position: relative;
  display: block;
  color: #2fffb4;
  margin: 30px 0;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: "Oswald", sans-serif;
  z-index: 20;
  width: 100%;
}

.title-similar-movie.day-films-title:after {
  width: 200px;
}

@media (min-width: 768px) {
  .title-similar-movie.day-films-title:after {
    width: 350px;
  }
}

.title-similar-movie:after {
  content: "";
  background: #00263f;
  height: 10px;
  width: 270px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.title-similar-movie:before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background: #2fffb4;
  left: 0;
  top: 50%;
  z-index: -10;
}

.wrapper-similar-movie {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .wrapper-similar-movie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wrapper-similar-movie .bk-similar-movie {
  display: block;
  position: relative;
}

@media (min-width: 768px) {
  .wrapper-similar-movie .bk-similar-movie {
    width: 50%;
  }
}

.wrapper-similar-movie .bk-similar-movie:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper-similar-movie .bk-similar-movie picture {
  display: block;
  overflow: hidden;
  height: 200px;
}

.wrapper-similar-movie .bk-similar-movie img {
  opacity: 0.5;
  display: block;
  -webkit-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
}

.wrapper-similar-movie .bk-similar-movie .infos-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #2fffb4;
  font-weight: 700;
}

.wrapper-similar-movie .bk-similar-movie .infos-movie .title-movie {
  display: block;
  min-width: 250px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.films footer {
  background-color: #00263f;
}

.loading {
  position: relative;
}

.frame-films {
  height: 90px;
}

.js .loading:before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading:after {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  -webkit-animation: loaderAnim 0.7s linear infinite alternate forwards;
          animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@-webkit-keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

[data-scroll] {
  will-change: transform;
}

.frame {
  padding: 2.5rem 3rem;
  position: absolute;
  z-index: 10;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 2.5rem;
}

.frame__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.frame a {
  margin: 0.25rem 0;
  text-transform: lowercase;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
  margin-right: 1rem;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12rem 0;
  counter-reset: figure;
}

.item {
  margin: 10vh auto;
  max-width: 100%;
  position: relative;
  will-change: transform;
}

.item.-left {
  margin-left: 0;
}

.item.-right {
  margin-right: 0;
}

.item.-right .item__caption-copy {
  left: auto;
  right: 10px;
}

@media (min-width: 768px) {
  .item.-right .item__caption-copy {
    left: 30px;
    right: auto;
  }
}

.item.-right .item__caption-title {
  right: auto;
  left: 10px;
}

@media (min-width: 768px) {
  .item.-right .item__caption-title {
    right: 30px;
    left: auto;
  }
}

.item:nth-child(even)::before {
  right: 0;
}

.item__img-wrap {
  --aspect-ratio: 1/1.5;
  overflow: hidden;
  width: 500px;
  margin: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
  will-change: transform;
}

.item:first-child .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 1000/505;
  --image: url("../img/img-film/joker-cover-big.jpg");
}

.item:nth-child(2) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 900/505;
  --image: url("../img/img-film/joker-cover-big.jpg");
}

.item:nth-child(3) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 900/505;
  --image: url("../img/img-film/no-country-for-old-men.jpg");
}

.item:nth-child(4) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 900/505;
  --image: url("../img/img-film/am-psycho.jpg");
}

.item:nth-child(5) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 900/505;
  --image: url("../img/img-film/am-psycho.jpg");
}

.item:nth-child(6) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 900/505;
  --image: url("../img/img-film/only-lovers-crop.jpg");
}

.item:nth-child(7) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 900/505;
  --image: url("../img/img-film/only-lovers-crop.jpg");
}

.item:nth-child(8) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 900/505;
  --image: url("../img/img-film/Swiss_Army_Man-crop.jpg");
}

.item:nth-child(9) .item__img-wrap {
  width: 1000px;
  --aspect-ratio: 900/505;
  --image: url("../img/img-film/tombeau-cover.jpg");
}

.item__img {
  --overflow: 40px;
  height: calc(100% + (2 * var(--overflow)));
  top: calc(-1 * var(--overflow));
  width: 100%;
  position: absolute;
  background-image: var(--image);
  background-size: cover;
  background-position: 50% 0%;
  will-change: transform;
}

.item__img--t1 {
  --overflow: 60px;
}

.item__img--t2 {
  --overflow: 80px;
}

.item__img--t3 {
  --overflow: 120px;
}

.item__caption {
  width: 100%;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 2rem 1rem;
}

.item__caption-title {
  position: absolute;
  right: 20px;
  display: inline-block;
  font-size: 5rem;
  bottom: 20px;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .item__caption-title {
    left: 30px;
    bottom: -20px;
    font-size: 8rem;
  }
}

.item__caption-copy {
  display: inline-block;
  position: absolute;
  top: -45px;
  left: 10px;
  padding: 0px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#09f7d1), to(#2fffb4));
  background: linear-gradient(90deg, #09f7d1 0%, #2fffb4 100%);
  color: #00263f;
}

@media (min-width: 768px) {
  .item__caption-copy {
    top: auto;
    bottom: 0px;
    right: 50px;
    left: auto;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */