$icomoon-font-family: "festival" !default;
$icomoon-font-path: "../icon/festival-v1.0/fonts" !default;

$icon-ticket: "\e939";
$icon-clock: "\e94e";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-heart: "\e9da";
$icon-arrow-right2: "\ea3c";
$icon-share: "\ea7d";
$icon-share2: "\ea82";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
