.films-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;

  .film {
    position: relative;
    max-width: 100%;
    margin: 10vh auto;
    display: block;

    &.-left {
      margin-left: 0;
    }

    &.-right {
      margin-right: 0;

      .infos-wrapper {
        .hour-film {
          left: 10px;
          right: auto;

          @media (min-width: 800px) {
            right: 30px;
            left: auto;
          }
        }
        .title-film {
          right: 10px;
          left: auto;
          top: -30px;
          bottom: auto;

          @media (min-width: 800px) {
            left: 50px;
            right: auto;
            bottom: -35px;
            top: auto;
          }
        }
      }
    }

    .img-wrapper {
      position: relative;

      .image-parallax {
        height: 300px;
        width: 100%;
        object-fit: cover;

        @media (min-width: 800px) {
          height: 500px;
          width: 1000px;
        }
      }
    }

    .infos-wrapper {
      font-family: $title-fonts;
      text-transform: uppercase;

      .hour-film {
        font-size: 5rem;
        position: absolute;
        right: 10px;
        bottom: -70px;
        color: white;
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);

        @media (min-width: 800px) {
          font-size: 8rem;
          left: 30px;
        }
      }

      .title-film {
        position: absolute;
        left: 10px;
        top: -35px;
        background: $gradient-pop;
        color: $dark-blue;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0px 20px;

        @media (min-width: 800px) {
          font-size: 2rem;
          right: 50px;
          left: auto;
          top: auto;
          bottom: -35px;
        }
      }
    }
  }
}
