.bk-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 50px 10px;

  @media (min-width: $tablet) {
    margin: 50px auto;
  }

  .title-subscription {
    text-align: center;
    font-size: 30px;

    @media (min-width: $tablet) {
      text-align: left;
    }
  }

  .select-wrapper {
    position: relative;
    margin-bottom: 10px;

    .collapse-btn {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background: white;
      pointer-events: none;
      z-index: 3;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        height: 3px;
        width: 20px;
        background: $dark-blue;
        transform: rotate(45deg);
      }

      &:after {
        content: "";
        position: absolute;
        left: 40%;
        top: 50%;
        display: block;
        height: 3px;
        width: 20px;
        background: $dark-blue;
        transform: rotate(-45deg);
      }
    }
  }

  .custom-input-select {
    position: relative;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    color: $dark-blue;
    background: white;
    border: 0;
    border-radius: 0;
    appearance: button;
  }

  .validation-check {
    position: relative;
    margin: 10px 0;
    font-size: 14px;

    a:hover {
      text-decoration: underline;
    }

    label {
      margin-left: 35px;
    }

    &:hover {
      input ~ .checkmark {
        background-color: #ccc;
      }
    }

    input:checked ~ .checkmark {
      background-color: white;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 25%;
        bottom: 8px;
        height: 4px;
        width: 15px;
        transform: rotate(-45deg);
        background: $dark-blue;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 12%;
        bottom: 7px;
        height: 4px;
        width: 8px;
        transform: rotate(45deg);
        background: $dark-blue;
      }
    }

    input {
      position: absolute;
      cursor: pointer;
      opacity: 0;
      height: 20px;
      width: 20px;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
      pointer-events: none;
      transition: 0.3s;

      &:before {
        content: "";
        bottom: -2px;
        transition: 0.3s ease-in-out;
        width: 0;
        transition-delay: 0.1s;
      }

      &:after {
        content: "";
        bottom: -2px;
        transition: 0.3s ease-in-out;
        width: 0;
      }
    }
  }

  .form-btn {
    width: 200px;
    margin: 20px auto;
  }
}
